<div id="home-page">
	<div class="top-bar">
	  <app-top-bar></app-top-bar>
	</div>
	<div class='video-ad'>
	  <video loop muted autoplay class="video-container" poster="//d3aut7n3cm71gu.cloudfront.net/assets/bg-default-d5965c.jpg">
		  <source src="//d3aut7n3cm71gu.cloudfront.net/assets/bg-overlay-15f51b.mp4" type="video/mp4">
		  <source src="//d3aut7n3cm71gu.cloudfront.net/assets/bg-overlay-ffced9.webm" type="video/webm">
		  <source src="//d3aut7n3cm71gu.cloudfront.net/assets/bg-overlay-c094b2.ogv" type="video/ogg">
	  </video>
	  <div class="container ad-text">
		<div class="row">
		  <div class="col-lg-10 mr-auto col-xl-10">
				<h1 class="d-none d-xl-block col-lg-12">
				  Jerry automatically checks if you're paying the lowest price for your insurance, for free.
			  </h1>
			  <h3 class="d-xl-none text-light ml-2">
				  Jerry automatically checks if you're paying the lowest price for your insurance, for free.
			  </h3>

			  <div class="paragraphs ml-2">
				  <ol>
					  <li><img class="check-image" src="//d3aut7n3cm71gu.cloudfront.net/assets/white_check-6cba6a.svg" alt="WhiteCheckIcon">No spam or unwanted phone calls</li>
					  <li><img class="check-image" src="//d3aut7n3cm71gu.cloudfront.net/assets/white_check-6cba6a.svg" alt="WhiteCheckIcon" >No Long forms</li>
					  <li><img class="check-image" src="//d3aut7n3cm71gu.cloudfront.net/assets/white_check-6cba6a.svg" alt="WhiteCheckIcon">No fees, ever</li>
				  </ol>
			  </div>
			  <div class="justify-content-start signup-button">
				  <button mat-raised-button color="warn" [routerLink]="AppRoutes.Signup">Sign Up(it's 100% free)</button>
			  </div>
		  </div>
		</div>
	  </div>
	  <div class="mx-auto text-center d-flex justify-content-center">
		  <div class="explore-more mx-auto text-center" (click)="onClickExploreMore()">
			  <div>
				Explore More
			  </div>
			  <li class="arrow"></li>
		  </div>
	  </div>
	</div>
	<div id="ad-sector" class="ad-sector">
	  <div class="container">
		<div class="row justify-content-center">
		  <div class="col-md-8">
			<h3>We get it, you've got better things to do than shop for insurance</h3>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
			<div class="step-card">
			  <div class="Icon_1td54wy">
				<img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-one-586aa7.svg" alt="Step 1">
			  </div>
			  <h4>Sign up in 45 seconds</h4>
			  <div>No long forms or phone calls. Just tell us 4 things about yourself, and Jerry will get to work.
			  </div>
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="step-card">
			  <div class="Icon_1td54wy">
				<img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-two-80a8cf.svg" alt="Step 2">
			  </div>
			  <h4>Get quotes from up to 45 insurance companies</h4>
			  <div>Jerry will send you quotes that compare to your current coverage. You’ll get new quotes every time your policy comes up for renewal.
			  </div>
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="step-card">
			  <div class="Icon_1td54wy">
				<img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-three-400c76.svg" alt="Step 3">
			  </div>
			  <h4>Switch and save by simply clicking a button</h4>
			  <div>When you’re ready to switch, Jerry will do the paperwork to set up your new policy. No more pushy salespeople or pesky emails — just more money in your pocket.
			  </div>
			</div>
		  </div>
		</div>
		<div class="row justify-content-center">
		   <button mat-raised-button color="warn" [routerLink]="AppRoutes.Signup">Sign Up(it's 100% free)</button>
		</div>
	  </div>
	</div>
	<div class="ad-companies">
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-md-6 companies-logo"></div>
		  <div class="col-md-6">
			<h3>Jerry compares prices from the top inssurance companies</h3>
			<div class="logo-text">
			Local agents and online shopping sites only show you prices from 5-6 insurance companies. Jerry compares prices from all major inssurance companies (over 20) to find you the right coverage at the best price.
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="ad-privacy">
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-md-6">
			<h3>Total privacy and peace of mind</h3>
			<div class="privacy-text">
			Jerry takes your privacy, security, and peace of mind very seriously. We never share or sell your information. With Jerry, all communication happens through the mobile app so you can rest easy knowing there will be no pushy salespeople, pesky phone calls, or annoying emails. Jerry uses bank-level security measures when storing your information in our system. All your data is fully encrypted.
			</div>
		  </div>
		  <div class="col-md-6">
			<div class="lock-img">
			  <img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-peaceofmind-513f85.svg" alt="For PeaceOfMind">
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="ad-members">
	  <div class="container">
		<div class="row justify-content-center">
		  <h3>Jerry's members say the loveliest things</h3>
		</div>
		<div class="row">
		  <div class="col-lg-4">
			<div class="member-card">
			  <div class="feedback">
			  I always find shopping for insurance to be a real hassle when you have to fill out all these online forms with the same info over and over and then sales people start calling you. Jerry saves me from all this headache, and I know I will be paying the best price possible.
			  </div>
			  <div class="member-avatar">
				<div class="member-img first">
				</div>
				<div class="member-info">
				  <div class="member-name">Jay</div>
				  <div class="saved-ammount">Saved $320 with Jerry</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-4">
			<div class="member-card">
			  <div class="feedback">
			  I was surprised how easy it was to sign up for Jerry and switch my insurance. I was expecting to answer a long list of questions, instead it took literally less than a minute for the whole sign-up process. They sent me over 15 quotes showing the two best options. I was able to switch and save over $500 on my insurance! It's nice to know that they will keep checking prices for me on a regular basis.
			  </div>
			  <div class="member-avatar">
				<div class="member-img second">
				</div>
				<div class="member-info">
				  <div class="member-name">Quynh</div>
				  <div class="saved-ammount">Saved $545 with Jerry</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-4">
			<div class="member-card">
			  <div class="feedback">
			  It took me 2 minutes to sign up, I got several quotes in the app, responded - yes please. They switched me to Geico. DONE! Love Jerry
			  </div>
			  <div class="member-avatar">
				<div class="member-img third">
				</div>
				<div class="member-info">
				  <div class="member-name">Kirill</div>
				  <div class="saved-ammount">Saved $266 with Jerry</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="ad-agent">
	  <div class="container">
		<div class="row">
		  <div class="col-md-5">
			<h3>Jerry is your agent for life</h3>
			<div class="ad-text-agent">
			Jerry, as your insurance broker, takes managing insurance off your list — for good. Jerry does more than just “show you the money.” At Jerry, our team of in-house insurance experts are your personal advocates.
			</div>
			<div class="ad-text-agent">
			Whether you need advice on coverages, want to make changes to your current insurance, don’t know how to file a claim, or have questions about billing, Jerry and the team are ready to serve you.
			</div>
			<button mat-raised-button color="warn" [routerLink]="AppRoutes.Signup">
			Sign Up (It's 100% free)
			</button>
			</div>
		</div>
	  </div>
	</div>
	<div class="ad-pocket">
	  <div class="container">
		<div class="row justify-content-center">
		  <div class="col-md-8">
			<img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-app-da2672.svg" alt="Jerry App" class="app-icon">
			<h3>Put Jerry in your pocket</h3>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-6">
			<div class="pocket-ad-card">
			  <img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-digital-insurance-0f75da.svg" alt="Jerry App" class="AppPointImage_rq1f01">
			  <div>
				<h5>Digital insurance card</h5>
				<div>
				Access your digital insurance card through the app. You no longer need to carry your physical insurance card with you.
				</div>
			  </div>
			</div>
		  </div>
		   <div class="col-md-6">
			<div class="pocket-ad-card">
			  <img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-reminders-a52015.svg" alt="Jerry App" class="AppPointImage_rq1f01">
			  <div>
				<h5>Get reminders & quotes</h5>
				<div>
				Receive reminders before your renewal. Jerry will also send new quotes from up to 45 insurance companies with your renewal reminder.
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-6">
			<div class="pocket-ad-card">
			  <img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-share-with-family-5ceb40.svg" alt="Jerry App" class="AppPointImage_rq1f01">
			  <div>
				<h5>Share with family</h5>
				<div>
				Keep everyone on your policy up to date by sharing your insurance information.
				</div>
			  </div>
			</div>
		  </div>
		   <div class="col-md-6">
			<div class="pocket-ad-card">
			  <img src="//d3aut7n3cm71gu.cloudfront.net/assets/icon-manage-policy-72c3eb.svg" alt="Jerry App" class="AppPointImage_rq1f01">
			  <div>
				<h5>Manage your policy</h5>
				<div>
				Make changes to your policy right from the app (coming soon) and ask for expert advice.
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="row justify-content-center">
		  <div class="col-md-6 col-lg-4">
			<div class="phone-input-form">
			  <form>
				<div>
				  <label>Your phone number</label>
				  <div>
					<input class="phone-input" type="text" placeholder="(XXX) XXX XXXX" value="">
				  </div>
				</div>
				<button class="phone-submit">Text me the app</button>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="footer">
	  <div class="container">
		<div class="row">
		  <div class="col-md-3">
			<div class="logo"></div>
		  </div>
		  <div class="col-md-3">
			<div>Contact</div>
			<ul>
			  <li>
				<div>hi@getjerry.com <br>1-833-445-3779 <br>(M-F 8am-5pm PT)</div>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-3">
			<div>About</div>
			<ul>
			  <li>
				<a href="#" rel="">How it works</a>
			  </li>
			  <li><a href="#">FAQ</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">Careers</a></li>
			  <li><a href="#" target="_blank">Press Kit</a></li>
			</ul>
		  </div>
		  <div class="col-md-3">
			<div>Legal</div>
			<ul>
			  <li><a href="#">Terms Of Use</a></li>
			  <li><a href="#">Privacy Policy</a></li>
			  <li><a href="#">Licenses</a></li>
			</ul>
		  </div>
		</div>
		<div class="row">
		  <div>
			<div class="col-sm-12">
			  <h6>JERRY INSURANCE AGENCY is a licensed insurance broker <a href="#">licensed</a> to do business in all 50 states.</h6>
			  <h6>Copyrights © Jerry 2018. All rights reserved.</h6>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
