<!-- <div class="container-fluid"> -->
	<div style="min-height: 85vh;">
		<div class="signup-topbar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-2">
						<a class="home-link" href="#"><div class="logo-img"></div></a>
					</div>
					<div class="col-10">
						<ul>
							<li><a class="#" rel="">FAQ</a></li>
							<li>Help? (408) 643-2477</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid text-center">
			<div class="col-xl-6 col-md-12 mx-auto">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>


	<div class="signup-footer mt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<h6>Copyrights © Dimple 2019. All rights reserved.</h6>
				</div>
				<div class="col-md-4">
					<div class="align-items-end justify-content-end footer-logo">
						<div class="footer-logo-wrapper">
						<img src="//d3aut7n3cm71gu.cloudfront.net/assets/bbb-logo-81f300.png" alt="BBB Badge">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->
