<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'sticky-top': open}">
	<a class="navbar-brand home-link" href="#">
		<div id="logo-img" class="logo-img">
		</div>
	</a>
	<div class="col-1"></div>
	<button id="toggler" class="btn navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#navbar">
		<mat-icon>more_vert</mat-icon>
	</button>
	<div class="collapse navbar-collapse text-dark" id="navbar">
		<ul class="navigation navbar-nav mr-auto">
			<li class="item-bg item"><a class="item-link" href="#">How it works</a></li>
			<li class="item-bg item"><a class="item-link" href="#">About</a></li>
			<li class="item-bg item"><a class="item-link" href="#">Advice</a></li>
			<li class="item-bg item last"><a class="item-link" href="#">FAQ</a></li>
			<li id="item-signup" class="item-signup"><a class="item-link" href="#">Sign Up</a></li>
		</ul>
	</div>
</nav>

